<form method="POST" action="?class=Form&method=salvar">
    <input type="hidden" name="id" value="{id}" />
    <div>
        <label for="name"> Nome: </label>
        <input type="varchar" name="nome" id="nome" required value="name"/>
    </div>
    <div>
        <label for="descricao"> Descrição: </label>
        <textarea name="descricao" id="descri" required>{descricao}</textarea>
    </div>
    <div>
      <label for="datahora">DataTime: </label>
      <input type="datetime-local" id="datatime" name="datatime">
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
  </form>