<form method="POST" action="?class=Form&method=salvar">
    <div>
        <label for="name"> nome: </label>
        <input type="varchar" name="nome" id="nome" required />
    </div>
    <div>
        <label for="descricao"> Descrição: </label>
        <textarea name="descricao" id="descri" required></textarea>
    </div>
    <div>
      <label for="datahora">Datahora: </label>
      <input type="datetime-local" id="datahora" name="datatime">
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
  </form>