<table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>DataTime</th>
        <th>Editar</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody>
      {linha}
      <tr>
        <td>{nome}</td>
        <td>{descricao}</td>
        <td>{datahora}</td>
        <td>
          <button 
          type="button"
          onclick="location.href='?class=Form&method=editar&id={id}'"
          
          >Editar</button>
        </td>
        <td>
          <button
            type="button"
            onclick="if(confirm('Deseja realmente remover?'))
              location.href='?class=Tabela&method=remover&id={id}'"
          >
            Remover
          </button>
        </td>
      </tr>
      {/linha}
    </tbody>
  </table>